<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>March 3<sup>th</sup><h4>Introduction to GBIF and Exploring GBIF.org</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/01-welcome/index.html">Welcome Remark & Opening Remark & Self Introduction</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-introduction-to-gbif/index.html">Introduction to GBIF</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-coffee/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/04-gbif-nodes/index.html">From data mobilization to data utilization in GBIF</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/05-break/index.html">Coffee</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/05.1-bioblitz/index.html">Understanding occurrence data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>11:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/06-belgian-node/index.html">Hands-on: Exploring GBIF.org</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>12:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/07-gbif-atlas/index.html">Lunch Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/08-break/index.html">Data quality & download filters</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/09-gbif-science/index.html">Coffee Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/10-gbif-discussion/index.html">Hands-on: Downloading via GBIF.org, wrap-up and discussions</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>March 4<sup>th</sup><h4>Data management using R program</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/11-fair-session/index.html">Intro to R & GBIF-Related R packages ((rgbif, finch,..) </a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/12-data-management/index.html">Break</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/13-break/index.html">Hands-on: Working with rGBIF</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/14-openrefine/index.html">Lunch break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/15-break/index.html">Introduction to GBIF data cubes (SQL option)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/16.1-openrefine/index.html">Coffee break</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 6   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/16.2-sqlite/index.html">Hands-on: SQL queries</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>17:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/17-break/index.html">End of the day</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 8   -->
        <td>optional</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/18-sqlite/index.html">Data cleaning with SQLite continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>optional</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/18.1-discussion/index.html">Discussion on data publication</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- last three days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>March 5<sup>th</sup><h4>Data cleaning and exploration</h4></h3>
    <table class="table table-striped">
       <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/19-introduction-darwin-core/index.html">Data cleaning and exploration using R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/20-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/21-datacleaning_darwincore/index.html">Hands-on: Data cleaning</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/21.1-gbif-community/index.html">Lunch break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/22-break/index.html">Wrangling & visualizing data, spatial analyses</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/23-create-schema/index.html">Coffee Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/24-break/index.html">Hands-on: Data visualization</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>17:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/25-metadata/index.html">End of the day</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Optional</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/26-validation-and-publishing/index.html">Data validation</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>17:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/26.1-finish/index.html">Finish</a></td>         <!-- content -->
      </tr>
     </table>
  </div>
<div class="row">        <!-- last two days -->
  <div class="col-md-6"> <!-- right column -->
    <h3>March 6<sup>th</sup><h4>Data cleaning and exploration'</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/27-ipt-basic/index.html">Mini project</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/27.1-publisher/index.html">Coffee Break</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/28-break/index.html">Mini project continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/29-ipt-admin/index.html">Lunch break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/30-break/index.html">Mini project presentation</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/31-gbif-registry/index.html">Coffee Break</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 6   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/32-grscicoll/index.html">Feedback, summary and certificates</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>16:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/33-break/index.html">Closing Remarks</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>optional</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/33.1-hosted-portals/index.html">Hosted portals</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 8   -->
        <td>Optional</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/33.2-discussion/index.html">Q&A and discussion</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>16:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
</div>
</div>
