<div class="row">        <div class="col-md-6"> <h3>March 3<sup>rd</sup></h3>
    <h4>Introduction to GBIF and Exploring GBIF.org</h4>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>
          <div style="display: flex; justify-content: space-between; align-items: flex-start;">
            <span>Welcoming Remark & Workshop Overview</span>
            <strong style="text-align: right; margin-left: 10px;">Dr. Shambel</strong>
          </div>
        </td>
      </tr>
      <tr>
        <td>09:10</td>
        <td>
          <div style="display: flex; justify-content: space-between; align-items: flex-start;">
            <span>Opening Remark & Opening of the workshop</span>
            <strong style="text-align: right; margin-left: 10px;">Dr. Bikila Warkineh</strong>
          </div>
        </td>
      </tr>
      <tr>
        <td>09:20</td>
        <td>
          <div style="display: flex; justify-content: space-between; align-items: flex-start;">
            <span>Self-introduction</span>
            <strong style="text-align: right; margin-left: 10px;">Dr. Debissa Lemessa</strong>
          </div>
        </td>
      </tr>
      <tr>
        <td>9:30</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/02-introduction-to-gbif/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Introduction to GBIF</span>
            <strong>Dimi</strong>
          </a>
        </td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/04-gbif-nodes/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>From data mobilization to data utilization in GBIF</span>
            <strong>Prof. Ayco Tack</strong>
          </a>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/05-break/index.html">Coffee</a></td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/06-bioblitz/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Understanding occurrence data | Bioblitz</span>
            <strong>Lena</strong>
          </a>
        </td>
      </tr>
      <tr>
        <td>11:45</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/07-belgian-node/index.html">Hands-on: Exploring GBIF.org</a></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/09-break/index.html">Lunch Break</a></td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/08-gbif-atlas/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Data quality & download filters</span>
            <strong>Lena</strong>
          </a>
        </td>
      </tr>
      <tr>
        <td>15:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/10-gbif-science/index.html">Coffee Break</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/11-gbif-discussion/index.html">Hands-on: Downloading via GBIF.org, wrap-up and discussions</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>Finish</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6"> <h3>March 4<sup>th</sup></h3>
    <h4>Data management using R program</h4>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/12-fair-session/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Intro to R & GBIF-Related R packages</span>
            <strong>Lena</strong>
          </a>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/14-break/index.html">Break</a></td>
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/13-data-management/index.html">Hands-on: Working with rGBIF</a></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/16-break/index.html">Lunch break</a></td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/15-openrefine/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Introduction to GBIF data cubes</span>
            <strong>Dimi</strong>
          </a>
        </td>
      </tr>
      <tr>
        <td>15:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/19-break/index.html">Coffee break</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/18-sqlite/index.html">Hands-on: SQL queries & Data Cubes</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/19-break/index.html">End of the day</a></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">        <div class="col-md-6"> <h3>March 5<sup>th</sup></h3>
    <h4>Data cleaning and exploration</h4>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/22-introduction-darwin-core/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Data cleaning and exploration using R</span>
            <strong>Dimi</strong>
          </a>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/23-break/index.html">Break</a></td>
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/24-datacleaning_darwincore/index.html">Hands-on: Data cleaning</a></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/26-break/index.html">Lunch break</a></td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/25-gbif-community/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Wrangling & visualizing data, spatial analyses</span>
            <strong>Lena</strong>
          </a>
        </td>
      </tr>
      <tr>
        <td>15:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/27-create-schema/index.html">Coffee Break</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/29-metadata/index.html">Hands-on: Data visualization</a></td>
      </tr>
      <tr>
        <td>16:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/32-ipt-basic/index.html">Introduction to Mini Projects</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/34-break/index.html">End of the day</a></td>
      </tr>
    </table>
  </div>

  <div class="col-md-6"> <h3>March 6<sup>th</sup></h3>
    <h4>Final Projects & Closing</h4>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/32-ipt-basic/index.html">Mini project</a></td>
      </tr>
      <tr>
        <td>10:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/34-break/index.html">Coffee Break</a></td>
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/33-publisher/index.html">Mini project continued</a></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/36-break/index.html">Lunch break</a></td>
      </tr>
      <tr>
        <td>13:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/35-ipt-admin/index.html">Mini project presentation</a></td>
      </tr>
      <tr>
        <td>15:00</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/39-break/index.html">Coffee Break</a></td>
      </tr>
      <tr>
        <td>15:30</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/38-grscicoll/index.html">Feedback, summary and certificates</a></td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>
          <a href="{{ site.url }}{{ site.baseurl }}/39-break/index.html" style="display: flex; justify-content: space-between; align-items: center;">
            <span>Closing Remarks</span>
            <strong>Dr. Bikila Warkineh, Dean of CNCS, AAU</strong>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>